
body{
   background-color: transparent;
    

}

.jumbotron{ 
   background-color: transparent;
   background-image: url('https://apod.nasa.gov/apod/image/2010/SDO_2020Oct2_1024_0171.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   /* background: center */
   width: 100%;
   height: 100vh;
   text-align: center;
   /* align-content: center; */
   

   

}

.fixed-top{
    text-align: center;
}

.display-4 {
    font-size: 150px;
    margin-top: 15%;
    color: wheat;

}


.lead {
    font-size: 75px;
    color: wheat;
}

.text-muted {
    font-size: 40px;
}

.randomizer {
    
    
}

.cardRight {
    height: 60%;
}

.cardMiddle {
    height: 60%;
}

.cardLeft {
    height: 60%;
}

.card {
    background-color: transparent;
     font-size: x-large;
    color: wheat;
    max-height: 900px;
    border: none;
}

.card-title {
    font-weight: bolder;
    font-size: xx-large;
}

.card-deck {
    width: 99%;
    height: 900px;
    margin-left: .58%;
    border: none;
}    